In [28]:
#Standard Python libraries for data and visualisation
%matplotlib notebook
import numpy as np
import pandas as pd
import matplotlib as mpl
import sklearn as sk
import scipy as sp
import ipywidgets as widgets

import os

In [31]:
### Import data file

#filename = 'epl-training.csv'
#filepath = "C:\\Users\dakin\OneDrive\Documents\\UCL lectures\COMP0036 - Machine Learning and Neural Computation\Coursework\Data_Files 2023\Data_Files 2023\\" + filename

filepath = os.path.join(os.path.curdir, "Data_Files 2023", "epl-training.csv")
Data = pd.read_csv(filepath)

Data

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,19/08/00,Charlton,Man City,4.0,0.0,H,2.0,0.0,H,Rob Harris,...,14.0,4.0,6.0,6.0,13.0,12.0,1.0,2.0,0.0,0.0
1,19/08/00,Chelsea,West Ham,4.0,2.0,H,1.0,0.0,H,Graham Barber,...,10.0,5.0,7.0,7.0,19.0,14.0,1.0,2.0,0.0,0.0
2,19/08/00,Coventry,Middlesbrough,1.0,3.0,A,1.0,1.0,D,Barry Knight,...,3.0,9.0,8.0,4.0,15.0,21.0,5.0,3.0,1.0,0.0
3,19/08/00,Derby,Southampton,2.0,2.0,D,1.0,2.0,A,Andy D'Urso,...,4.0,6.0,5.0,8.0,11.0,13.0,1.0,1.0,0.0,0.0
4,19/08/00,Leeds,Everton,2.0,0.0,H,2.0,0.0,H,Dermot Gallagher,...,8.0,6.0,6.0,4.0,21.0,20.0,1.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8836,29/10/2023,West Ham,Everton,0.0,1.0,A,0.0,0.0,D,S Attwell,...,2.0,4.0,4.0,3.0,7.0,11.0,4.0,1.0,0.0,0.0
8837,29/10/2023,Aston Villa,Luton,3.0,1.0,H,1.0,0.0,H,J Brooks,...,6.0,1.0,6.0,4.0,11.0,10.0,3.0,2.0,0.0,0.0
8838,29/10/2023,Brighton,Fulham,1.0,1.0,D,1.0,0.0,H,M Salisbury,...,7.0,5.0,7.0,3.0,12.0,8.0,0.0,3.0,0.0,0.0
8839,29/10/2023,Liverpool,Nott'm Forest,3.0,0.0,H,2.0,0.0,H,C Salisbury,...,8.0,1.0,8.0,3.0,9.0,13.0,2.0,3.0,0.0,0.0
8840,29/10/2023,Man United,Man City,0.0,3.0,A,0.0,1.0,A,P Tierney,...,3.0,10.0,7.0,12.0,9.0,4.0,4.0,1.0,0.0,0.0

In [3]:
### Remove empty row
Clean_Data = Data.dropna()

print(Data.iloc[5700,:])
print()
print(Clean_Data.iloc[5700,:])

Date        NaN
HomeTeam    NaN
AwayTeam    NaN
FTHG        NaN
FTAG        NaN
FTR         NaN
HTHG        NaN
HTAG        NaN
HTR         NaN
Referee     NaN
HS          NaN
AS          NaN
HST         NaN
AST         NaN
HC          NaN
AC          NaN
HF          NaN
AF          NaN
HY          NaN
AY          NaN
HR          NaN
AR          NaN
Name: 5700, dtype: object

Date           08/08/2015
HomeTeam      Bournemouth
AwayTeam      Aston Villa
FTHG                  0.0
FTAG                  1.0
FTR                     A
HTHG                  0.0
HTAG                  0.0
HTR                     D
Referee     M Clattenburg
HS                   11.0
AS                    7.0
HST                   2.0
AST                   3.0
HC                    6.0
AC                    3.0
HF                   13.0
AF                   13.0
HY                    3.0
AY                    4.0
HR                    0.0
AR                    0.0
Name: 5701, dtype: object

In [4]:
### Get referee column
y = Clean_Data.loc[:,'Referee']

y

0             Rob Harris
1          Graham Barber
2           Barry Knight
3            Andy D'Urso
4       Dermot Gallagher
              ...
8836           S Attwell
8837            J Brooks
8838         M Salisbury
8839         C Salisbury
8840           P Tierney
Name: Referee, Length: 8840, dtype: object

In [5]:
### Gets different referee names
cat_y = y.unique()

print(cat_y)
print()

['Rob Harris' 'Graham Barber' 'Barry Knight' "Andy D'Urso"
 'Dermot Gallagher' 'Mike Riley' 'Paul Durkin' 'Steve Dunn' 'Alan Wiley'
 'Steve Lodge' 'Graham Poll' 'Mark Halsey' 'Jeff Winter' 'Peter Jones'
 'Andy Hall' 'David Ellaray' 'F Taylor' 'Rob Styles' 'Steve Bennett'
 'Ian Harris' 'Paul Taylor' 'Neale Barry' 'Mike Dean' 'Roy Burton'
 'Matt Messias' 'Clive Wilkes' "Andy D'Urso " 'Mark Halsey '
 'Steve Bennett ' 'N. S. Barry' 'P. A. Durkin' 'C. R. Wilkes ' 'R. Styles'
 'J. T. Winter' 'G. P. Barber' 'G. Poll' 'D. J. Gallagher' "A. P. D'Urso "
 'P. Jones ' 'D. R. Elleray ' 'J. T. Winter ' 'S. W. Dunn '
 'E. K. Wolstenholme ' 'A. G. Wiley ' 'B. Knight ' 'S. G. Bennett'
 'U. D. Rennie' 'M. L Dean' 'P. A. Durkin ' 'G. P. Barber ' 'M. A. Riley '
 'G. Poll ' 'C. R. Wilkes' 'B. Knight' "A. P. D'Urso" 'A. G. Wiley'
 'D. Pugh' 'P.A. Durkin' 'A.G. Wiley' 'M. A. Riley' 'M. R. Halsey'
 'S. W. Dunn' 'E. K. Wolstenholme' 'P. Jones' 'D. R. Elleray' 'M. L. Dean'
 'J.T. Winter' 'M. D. Messias' 'P. Dowd' 'C. J. Foy' 'Wiley, A. G.'
 'Elleray, D. R.' 'Winter, J. T.' 'Wolstenholme, E. K.' 'Dunn, S. W.'
 'Knight, B.' 'Riley, M. A.' 'Rennie, U. D.' 'Durkin, P. A.'
 'Barber, G. P.' "D'Urso, A. P." 'Wilkes, C. R.' 'Bennett, S. G.'
 'Barry, N. S.' 'Halsey, M. R.' 'Jones, P.' 'Poll, G.' 'Pugh, D.'
 'Styles, R.' 'Gallagher, D. J.' 'Dean, M. L' 'Messias, M. D.' 'Styles, R'
 'Durkin, P.' 'Foy, C. J.' 'Dowd, P.' 'Yates, N' 'D Elleray' 'G Barber'
 'N Barry' 'A Wiley' 'G Poll' 'S Bennett' 'B Knight' 'M Riley' "A D'Urso"
 'P Durkin' 'D Gallagher' 'M Messias' 'J Winter' 'U Rennie' 'M Dean'
 'R Styles' 'C Wilkes' 'S Dunn' 'D Pugh' 'E Wolstenholme' 'M Halsey'
 'C Foy' 'P Dowd' 'R Martin' 'H Webb' 'P Walton' 'M Clattenburg'
 'M Atkinson' 'P Crossley' 'A Marriner' '†U Rennie' '†C Foy' '†A Wiley'
 '†D Gallagher' "†A D'Urso" '†H Webb' '†M Atkinson' '†N Barry' '†S Dunn'
 'R Beeby' 'I Williamson' 'L Mason' 'K Stroud' 'S Tanner' 'L Probert'
 'D Gallagh' 'D Gallaghe' 'S Attwell' 'M Jones' 'K Friend' 'St Bennett'
 'Mn Atkinson' 'A Taylor' 'M Oliver' 'N Swarbrick' 'J Moss' 'R East'
 'C Pawson' 'R Madley' 'P Tierney' 'G Scott' 'S Hooper' 'C Kavanagh'
 'l Mason' 'D Coote' 'A Madley' 'O Langford' 'P Bankes' 'T Robinson'
 'R Jones' 'S Scott' 'D England' 'A Moss' 'J Gillett' 'M Salisbury'
 'J Brooks' 'T Harrington' 'T Bramall' 'D Bond' 'J Smith' 'S Barrott'
 'C Salisbury']

In [6]:
### Indices 0-29 (inclusive) are full names, e.g. Rob Harris
### Indices 30-69 are initials, e.g. N. S. Barry
### Indices 70-96 are last name first initials, e.g. Wiley, A. G. and Yates, N
### Indices 97-179 are no dot initials, e.g. D Elleray and †U Rennie

index = 178
print(cat_y[index])
print()

C Salisbury

In [7]:
### Puts different types of data into different categories
cat_y_1 = cat_y[0:29]
cat_y_2 = cat_y[30:69]
cat_y_3 = cat_y[70:96]
cat_y_4 = cat_y[97:]

print(cat_y_1)
print()
print(cat_y_2)
print()
print(cat_y_3)
print()
print(cat_y_4)
print()

['Rob Harris' 'Graham Barber' 'Barry Knight' "Andy D'Urso"
 'Dermot Gallagher' 'Mike Riley' 'Paul Durkin' 'Steve Dunn' 'Alan Wiley'
 'Steve Lodge' 'Graham Poll' 'Mark Halsey' 'Jeff Winter' 'Peter Jones'
 'Andy Hall' 'David Ellaray' 'F Taylor' 'Rob Styles' 'Steve Bennett'
 'Ian Harris' 'Paul Taylor' 'Neale Barry' 'Mike Dean' 'Roy Burton'
 'Matt Messias' 'Clive Wilkes' "Andy D'Urso " 'Mark Halsey '
 'Steve Bennett ']

['P. A. Durkin' 'C. R. Wilkes ' 'R. Styles' 'J. T. Winter' 'G. P. Barber'
 'G. Poll' 'D. J. Gallagher' "A. P. D'Urso " 'P. Jones ' 'D. R. Elleray '
 'J. T. Winter ' 'S. W. Dunn ' 'E. K. Wolstenholme ' 'A. G. Wiley '
 'B. Knight ' 'S. G. Bennett' 'U. D. Rennie' 'M. L Dean' 'P. A. Durkin '
 'G. P. Barber ' 'M. A. Riley ' 'G. Poll ' 'C. R. Wilkes' 'B. Knight'
 "A. P. D'Urso" 'A. G. Wiley' 'D. Pugh' 'P.A. Durkin' 'A.G. Wiley'
 'M. A. Riley' 'M. R. Halsey' 'S. W. Dunn' 'E. K. Wolstenholme' 'P. Jones'
 'D. R. Elleray' 'M. L. Dean' 'J.T. Winter' 'M. D. Messias' 'P. Dowd']

['Wiley, A. G.' 'Elleray, D. R.' 'Winter, J. T.' 'Wolstenholme, E. K.'
 'Dunn, S. W.' 'Knight, B.' 'Riley, M. A.' 'Rennie, U. D.' 'Durkin, P. A.'
 'Barber, G. P.' "D'Urso, A. P." 'Wilkes, C. R.' 'Bennett, S. G.'
 'Barry, N. S.' 'Halsey, M. R.' 'Jones, P.' 'Poll, G.' 'Pugh, D.'
 'Styles, R.' 'Gallagher, D. J.' 'Dean, M. L' 'Messias, M. D.' 'Styles, R'
 'Durkin, P.' 'Foy, C. J.' 'Dowd, P.']

['D Elleray' 'G Barber' 'N Barry' 'A Wiley' 'G Poll' 'S Bennett'
 'B Knight' 'M Riley' "A D'Urso" 'P Durkin' 'D Gallagher' 'M Messias'
 'J Winter' 'U Rennie' 'M Dean' 'R Styles' 'C Wilkes' 'S Dunn' 'D Pugh'
 'E Wolstenholme' 'M Halsey' 'C Foy' 'P Dowd' 'R Martin' 'H Webb'
 'P Walton' 'M Clattenburg' 'M Atkinson' 'P Crossley' 'A Marriner'
 '†U Rennie' '†C Foy' '†A Wiley' '†D Gallagher' "†A D'Urso" '†H Webb'
 '†M Atkinson' '†N Barry' '†S Dunn' 'R Beeby' 'I Williamson' 'L Mason'
 'K Stroud' 'S Tanner' 'L Probert' 'D Gallagh' 'D Gallaghe' 'S Attwell'
 'M Jones' 'K Friend' 'St Bennett' 'Mn Atkinson' 'A Taylor' 'M Oliver'
 'N Swarbrick' 'J Moss' 'R East' 'C Pawson' 'R Madley' 'P Tierney'
 'G Scott' 'S Hooper' 'C Kavanagh' 'l Mason' 'D Coote' 'A Madley'
 'O Langford' 'P Bankes' 'T Robinson' 'R Jones' 'S Scott' 'D England'
 'A Moss' 'J Gillett' 'M Salisbury' 'J Brooks' 'T Harrington' 'T Bramall'
 'D Bond' 'J Smith' 'S Barrott' 'C Salisbury']

In [8]:
### Removes the duplicates with † in the 4th category
j = 0

for i in cat_y_4:
    if i.find('†') == 0:
        cat_y_4 = np.delete(cat_y_4,j,axis = None)
        j -= 1
    j += 1    

print(cat_y_4)
print()

['D Elleray' 'G Barber' 'N Barry' 'A Wiley' 'G Poll' 'S Bennett'
 'B Knight' 'M Riley' "A D'Urso" 'P Durkin' 'D Gallagher' 'M Messias'
 'J Winter' 'U Rennie' 'M Dean' 'R Styles' 'C Wilkes' 'S Dunn' 'D Pugh'
 'E Wolstenholme' 'M Halsey' 'C Foy' 'P Dowd' 'R Martin' 'H Webb'
 'P Walton' 'M Clattenburg' 'M Atkinson' 'P Crossley' 'A Marriner'
 'R Beeby' 'I Williamson' 'L Mason' 'K Stroud' 'S Tanner' 'L Probert'
 'D Gallagh' 'D Gallaghe' 'S Attwell' 'M Jones' 'K Friend' 'St Bennett'
 'Mn Atkinson' 'A Taylor' 'M Oliver' 'N Swarbrick' 'J Moss' 'R East'
 'C Pawson' 'R Madley' 'P Tierney' 'G Scott' 'S Hooper' 'C Kavanagh'
 'l Mason' 'D Coote' 'A Madley' 'O Langford' 'P Bankes' 'T Robinson'
 'R Jones' 'S Scott' 'D England' 'A Moss' 'J Gillett' 'M Salisbury'
 'J Brooks' 'T Harrington' 'T Bramall' 'D Bond' 'J Smith' 'S Barrott'
 'C Salisbury']

In [9]:
### Gets last names of 4th category
def getLastNames_1_4(cat_y_4):
    cat_y_4_surname = np.array([])

    for i in cat_y_4:
        n = i.find(' ')
        lastname = i[n+1:]
        #print(lastname)
        cat_y_4_surname = np.append(cat_y_4_surname,np.array([lastname]))

    return cat_y_4_surname

cat_y_4_surname = getLastNames_1_4(cat_y_4)
print(cat_y_4_surname)
print()

['Elleray' 'Barber' 'Barry' 'Wiley' 'Poll' 'Bennett' 'Knight' 'Riley'
 "D'Urso" 'Durkin' 'Gallagher' 'Messias' 'Winter' 'Rennie' 'Dean' 'Styles'
 'Wilkes' 'Dunn' 'Pugh' 'Wolstenholme' 'Halsey' 'Foy' 'Dowd' 'Martin'
 'Webb' 'Walton' 'Clattenburg' 'Atkinson' 'Crossley' 'Marriner' 'Beeby'
 'Williamson' 'Mason' 'Stroud' 'Tanner' 'Probert' 'Gallagh' 'Gallaghe'
 'Attwell' 'Jones' 'Friend' 'Bennett' 'Atkinson' 'Taylor' 'Oliver'
 'Swarbrick' 'Moss' 'East' 'Pawson' 'Madley' 'Tierney' 'Scott' 'Hooper'
 'Kavanagh' 'Mason' 'Coote' 'Madley' 'Langford' 'Bankes' 'Robinson'
 'Jones' 'Scott' 'England' 'Moss' 'Gillett' 'Salisbury' 'Brooks'
 'Harrington' 'Bramall' 'Bond' 'Smith' 'Barrott' 'Salisbury']

In [10]:
### Finds people with the same initials and surname and removes them
cat_y_4_2 = np.asarray(cat_y_4, dtype=str)
repeats = np.array([])
k = 0
m = 0

for i in cat_y_4_surname:
    num_names = np.char.count(cat_y_4_2, i)
    
    if np.sum(num_names) > 1:
        #print(i)
        #print(num_names)
        #print(cat_y_4_2[num_names == 1])
        
        dups = cat_y_4_2[num_names == 1]
        #print(dups[0][0].capitalize())
        #print(dups[1][0].capitalize())
        
        if dups[0][0].capitalize() == dups[1][0].capitalize():
            cat_y_4_2 = np.delete(cat_y_4_2,k,axis = None)
            k -= 1
        else:
            repeats = np.append(repeats,dups)
    k += 1
    m += 1

### Formats results and adds missed repeated names from below
cat_y_4_2 = np.append(cat_y_4_2,'P Jones')
cat_y_4_surname = np.unique(cat_y_4_surname)
repeats = np.unique(repeats)
repeats = np.append(repeats,'P Jones')
repeats_surnames = np.unique(getLastNames_1_4(repeats)) 

print()
print(cat_y_4_2)
print()
print(cat_y_4_surname)
print()
print(repeats)
print()
print(repeats_surnames)
print()

['D Elleray' 'G Barber' 'N Barry' 'A Wiley' 'G Poll' 'B Knight' 'M Riley'
 "A D'Urso" 'P Durkin' 'D Gallagher' 'M Messias' 'J Winter' 'U Rennie'
 'M Dean' 'R Styles' 'C Wilkes' 'S Dunn' 'D Pugh' 'E Wolstenholme'
 'M Halsey' 'C Foy' 'P Dowd' 'R Martin' 'H Webb' 'P Walton'
 'M Clattenburg' 'P Crossley' 'A Marriner' 'R Beeby' 'I Williamson'
 'K Stroud' 'S Tanner' 'L Probert' 'S Attwell' 'M Jones' 'K Friend'
 'St Bennett' 'Mn Atkinson' 'A Taylor' 'M Oliver' 'N Swarbrick' 'J Moss'
 'R East' 'C Pawson' 'R Madley' 'P Tierney' 'G Scott' 'S Hooper'
 'C Kavanagh' 'l Mason' 'D Coote' 'A Madley' 'O Langford' 'P Bankes'
 'T Robinson' 'R Jones' 'S Scott' 'D England' 'A Moss' 'J Gillett'
 'M Salisbury' 'J Brooks' 'T Harrington' 'T Bramall' 'D Bond' 'J Smith'
 'S Barrott' 'C Salisbury' 'P Jones']

['Atkinson' 'Attwell' 'Bankes' 'Barber' 'Barrott' 'Barry' 'Beeby'
 'Bennett' 'Bond' 'Bramall' 'Brooks' 'Clattenburg' 'Coote' 'Crossley'
 "D'Urso" 'Dean' 'Dowd' 'Dunn' 'Durkin' 'East' 'Elleray' 'England' 'Foy'
 'Friend' 'Gallagh' 'Gallaghe' 'Gallagher' 'Gillett' 'Halsey' 'Harrington'
 'Hooper' 'Jones' 'Kavanagh' 'Knight' 'Langford' 'Madley' 'Marriner'
 'Martin' 'Mason' 'Messias' 'Moss' 'Oliver' 'Pawson' 'Poll' 'Probert'
 'Pugh' 'Rennie' 'Riley' 'Robinson' 'Salisbury' 'Scott' 'Smith' 'Stroud'
 'Styles' 'Swarbrick' 'Tanner' 'Taylor' 'Tierney' 'Walton' 'Webb' 'Wiley'
 'Wilkes' 'Williamson' 'Winter' 'Wolstenholme']

['A Madley' 'A Moss' 'C Salisbury' 'G Scott' 'J Moss' 'M Jones'
 'M Salisbury' 'R Jones' 'R Madley' 'S Scott' 'P Jones']

['Jones' 'Madley' 'Moss' 'Salisbury' 'Scott']

In [26]:
### Formats unique referee name column (to find missed repeated names and as a test for function)

def formatRefNames(cat_y,cat_y_4_surname,cat_y_4_2):
    cat_y_copy = np.asarray(cat_y,dtype = str)

    for i in cat_y_4_surname:
        num_names_1 = np.char.count(cat_y_copy, i)
        num_name_2 = np.char.count(cat_y_4_2, i)
        full_name = cat_y_4_2[num_name_2 == 1]
        #print(full_name)

        if np.shape(full_name)[0] > 1:
            #print(full_name)
            rng = np.random.default_rng()
            names = cat_y_copy[num_names_1 == 1]
            full_name_2 = np.array([])
            found = False
            #print(names)

            for j in range(0,len(names)):
                
                ### Checks to see if last name is first
                if names[j].find(i) == 0:

                    for k in range(0,len(full_name)):

                        if names[j][len(i)+2] == full_name[k][0]:
                            full_name_2 = np.append(full_name_2,full_name[k]) 
                            found = True
                            break
                    
                    ### If no match is found, randomly choose from first two names
                    if found == False:
                        if rng.integers(2) == 0:
                            full_name_2 = np.append(full_name_2,full_name[0])
                        else:
                            full_name_2 = np.append(full_name_2,full_name[1])
                    #print(full_name_2)

                else:
                    for k in range(0,len(full_name)):

                        if names[j][0] == full_name[k][0]:
                            full_name_2 = np.append(full_name_2,full_name[k])
                            found = True
                            break

                    if found == False:
                        if rng.integers(2) == 0:
                            full_name_2 = np.append(full_name_2,full_name[0])
                        else:
                            full_name_2 = np.append(full_name_2,full_name[1])
                    #print(full_name_2)
                #print(full_name_2)
            cat_y_copy[num_names_1 == 1] = full_name_2
        else:
            cat_y_copy[num_names_1 == 1] = full_name

    return cat_y_copy

cat_y_copy = formatRefNames(cat_y,cat_y_4_surname,cat_y_4_2)
print()
print(cat_y)
print()
print(cat_y_copy)
print()
print(np.unique(cat_y_copy))
print()

['Rob Harris' 'Graham Barber' 'Barry Knight' "Andy D'Urso"
 'Dermot Gallagher' 'Mike Riley' 'Paul Durkin' 'Steve Dunn' 'Alan Wiley'
 'Steve Lodge' 'Graham Poll' 'Mark Halsey' 'Jeff Winter' 'Peter Jones'
 'Andy Hall' 'David Ellaray' 'F Taylor' 'Rob Styles' 'Steve Bennett'
 'Ian Harris' 'Paul Taylor' 'Neale Barry' 'Mike Dean' 'Roy Burton'
 'Matt Messias' 'Clive Wilkes' "Andy D'Urso " 'Mark Halsey '
 'Steve Bennett ' 'N. S. Barry' 'P. A. Durkin' 'C. R. Wilkes ' 'R. Styles'
 'J. T. Winter' 'G. P. Barber' 'G. Poll' 'D. J. Gallagher' "A. P. D'Urso "
 'P. Jones ' 'D. R. Elleray ' 'J. T. Winter ' 'S. W. Dunn '
 'E. K. Wolstenholme ' 'A. G. Wiley ' 'B. Knight ' 'S. G. Bennett'
 'U. D. Rennie' 'M. L Dean' 'P. A. Durkin ' 'G. P. Barber ' 'M. A. Riley '
 'G. Poll ' 'C. R. Wilkes' 'B. Knight' "A. P. D'Urso" 'A. G. Wiley'
 'D. Pugh' 'P.A. Durkin' 'A.G. Wiley' 'M. A. Riley' 'M. R. Halsey'
 'S. W. Dunn' 'E. K. Wolstenholme' 'P. Jones' 'D. R. Elleray' 'M. L. Dean'
 'J.T. Winter' 'M. D. Messias' 'P. Dowd' 'C. J. Foy' 'Wiley, A. G.'
 'Elleray, D. R.' 'Winter, J. T.' 'Wolstenholme, E. K.' 'Dunn, S. W.'
 'Knight, B.' 'Riley, M. A.' 'Rennie, U. D.' 'Durkin, P. A.'
 'Barber, G. P.' "D'Urso, A. P." 'Wilkes, C. R.' 'Bennett, S. G.'
 'Barry, N. S.' 'Halsey, M. R.' 'Jones, P.' 'Poll, G.' 'Pugh, D.'
 'Styles, R.' 'Gallagher, D. J.' 'Dean, M. L' 'Messias, M. D.' 'Styles, R'
 'Durkin, P.' 'Foy, C. J.' 'Dowd, P.' 'Yates, N' 'D Elleray' 'G Barber'
 'N Barry' 'A Wiley' 'G Poll' 'S Bennett' 'B Knight' 'M Riley' "A D'Urso"
 'P Durkin' 'D Gallagher' 'M Messias' 'J Winter' 'U Rennie' 'M Dean'
 'R Styles' 'C Wilkes' 'S Dunn' 'D Pugh' 'E Wolstenholme' 'M Halsey'
 'C Foy' 'P Dowd' 'R Martin' 'H Webb' 'P Walton' 'M Clattenburg'
 'M Atkinson' 'P Crossley' 'A Marriner' '†U Rennie' '†C Foy' '†A Wiley'
 '†D Gallagher' "†A D'Urso" '†H Webb' '†M Atkinson' '†N Barry' '†S Dunn'
 'R Beeby' 'I Williamson' 'L Mason' 'K Stroud' 'S Tanner' 'L Probert'
 'D Gallagh' 'D Gallaghe' 'S Attwell' 'M Jones' 'K Friend' 'St Bennett'
 'Mn Atkinson' 'A Taylor' 'M Oliver' 'N Swarbrick' 'J Moss' 'R East'
 'C Pawson' 'R Madley' 'P Tierney' 'G Scott' 'S Hooper' 'C Kavanagh'
 'l Mason' 'D Coote' 'A Madley' 'O Langford' 'P Bankes' 'T Robinson'
 'R Jones' 'S Scott' 'D England' 'A Moss' 'J Gillett' 'M Salisbury'
 'J Brooks' 'T Harrington' 'T Bramall' 'D Bond' 'J Smith' 'S Barrott'
 'C Salisbury']

['Rob Harris' 'G Barber' 'N Barry' "A D'Urso" 'D Gallagher' 'M Riley'
 'P Durkin' 'S Dunn' 'A Wiley' 'Steve Lodge' 'G Poll' 'M Halsey'
 'J Winter' 'P Jones' 'Andy Hall' 'David Ellaray' 'A Taylor' 'R Styles'
 'St Bennett' 'Ian Harris' 'A Taylor' 'N Barry' 'M Dean' 'Roy Burton'
 'M Messias' 'C Wilkes' "A D'Urso" 'M Halsey' 'St Bennett' 'N Barry'
 'P Durkin' 'C Wilkes' 'R Styles' 'J Winter' 'G Barber' 'G Poll'
 'D Gallagher' "A D'Urso" 'P Jones' 'D Elleray' 'J Winter' 'S Dunn'
 'E Wolstenholme' 'A Wiley' 'B Knight' 'St Bennett' 'U Rennie' 'M Dean'
 'P Durkin' 'G Barber' 'M Riley' 'G Poll' 'C Wilkes' 'B Knight' "A D'Urso"
 'A Wiley' 'D Pugh' 'P Durkin' 'A Wiley' 'M Riley' 'M Halsey' 'S Dunn'
 'E Wolstenholme' 'P Jones' 'D Elleray' 'M Dean' 'J Winter' 'M Messias'
 'P Dowd' 'C Foy' 'A Wiley' 'D Elleray' 'J Winter' 'E Wolstenholme'
 'S Dunn' 'B Knight' 'M Riley' 'U Rennie' 'P Durkin' 'G Barber' "A D'Urso"
 'C Wilkes' 'St Bennett' 'N Barry' 'M Halsey' 'P Jones' 'G Poll' 'D Pugh'
 'R Styles' 'D Gallagher' 'M Dean' 'M Messias' 'R Styles' 'P Durkin'
 'C Foy' 'P Dowd' 'Yates, N' 'D Elleray' 'G Barber' 'N Barry' 'A Wiley'
 'G Poll' 'St Bennett' 'B Knight' 'M Riley' "A D'Urso" 'P Durkin'
 'D Gallagher' 'M Messias' 'J Winter' 'U Rennie' 'M Dean' 'R Styles'
 'C Wilkes' 'S Dunn' 'D Pugh' 'E Wolstenholme' 'M Halsey' 'C Foy' 'P Dowd'
 'R Martin' 'H Webb' 'P Walton' 'M Clattenburg' 'Mn Atkinson' 'P Crossley'
 'A Marriner' 'U Rennie' 'C Foy' 'A Wiley' 'D Gallagher' "A D'Urso"
 'H Webb' 'Mn Atkinson' 'N Barry' 'S Dunn' 'R Beeby' 'I Williamson'
 'l Mason' 'K Stroud' 'S Tanner' 'L Probert' 'D Gallagher' 'D Gallagher'
 'S Attwell' 'M Jones' 'K Friend' 'St Bennett' 'Mn Atkinson' 'A Taylor'
 'M Oliver' 'N Swarbrick' 'J Moss' 'R East' 'C Pawson' 'R Madley'
 'P Tierney' 'G Scott' 'S Hooper' 'C Kavanagh' 'l Mason' 'D Coote'
 'A Madley' 'O Langford' 'P Bankes' 'T Robinson' 'R Jones' 'S Scott'
 'D England' 'A Moss' 'J Gillett' 'M Salisbury' 'J Brooks' 'T Harrington'
 'T Bramall' 'D Bond' 'J Smith' 'S Barrott' 'C Salisbury']

["A D'Urso" 'A Madley' 'A Marriner' 'A Moss' 'A Taylor' 'A Wiley'
 'Andy Hall' 'B Knight' 'C Foy' 'C Kavanagh' 'C Pawson' 'C Salisbury'
 'C Wilkes' 'D Bond' 'D Coote' 'D Elleray' 'D England' 'D Gallagher'
 'D Pugh' 'David Ellaray' 'E Wolstenholme' 'G Barber' 'G Poll' 'G Scott'
 'H Webb' 'I Williamson' 'Ian Harris' 'J Brooks' 'J Gillett' 'J Moss'
 'J Smith' 'J Winter' 'K Friend' 'K Stroud' 'L Probert' 'M Clattenburg'
 'M Dean' 'M Halsey' 'M Jones' 'M Messias' 'M Oliver' 'M Riley'
 'M Salisbury' 'Mn Atkinson' 'N Barry' 'N Swarbrick' 'O Langford'
 'P Bankes' 'P Crossley' 'P Dowd' 'P Durkin' 'P Jones' 'P Tierney'
 'P Walton' 'R Beeby' 'R East' 'R Jones' 'R Madley' 'R Martin' 'R Styles'
 'Rob Harris' 'Roy Burton' 'S Attwell' 'S Barrott' 'S Dunn' 'S Hooper'
 'S Scott' 'S Tanner' 'St Bennett' 'Steve Lodge' 'T Bramall'
 'T Harrington' 'T Robinson' 'U Rennie' 'Yates, N' 'l Mason']

In [15]:
### Formats array version of referee column

y_copy = formatRefNames(y,cat_y_4_surname,cat_y_4_2)

print()
print(y)
print()
print(y_copy)
print()
print(np.unique(y_copy))
print()

0             Rob Harris
1          Graham Barber
2           Barry Knight
3            Andy D'Urso
4       Dermot Gallagher
              ...
8836           S Attwell
8837            J Brooks
8838         M Salisbury
8839         C Salisbury
8840           P Tierney
Name: Referee, Length: 8840, dtype: object

['Rob Harris' 'G Barber' 'N Barry' ... 'M Salisbury' 'C Salisbury'
 'P Tierney']

["A D'Urso" 'A Madley' 'A Marriner' 'A Moss' 'A Taylor' 'A Wiley'
 'Andy Hall' 'B Knight' 'C Foy' 'C Kavanagh' 'C Pawson' 'C Salisbury'
 'C Wilkes' 'D Bond' 'D Coote' 'D Elleray' 'D England' 'D Gallagher'
 'D Pugh' 'David Ellaray' 'E Wolstenholme' 'G Barber' 'G Poll' 'G Scott'
 'H Webb' 'I Williamson' 'Ian Harris' 'J Brooks' 'J Gillett' 'J Moss'
 'J Smith' 'J Winter' 'K Friend' 'K Stroud' 'L Probert' 'M Clattenburg'
 'M Dean' 'M Halsey' 'M Jones' 'M Messias' 'M Oliver' 'M Riley'
 'M Salisbury' 'Mn Atkinson' 'N Barry' 'N Swarbrick' 'O Langford'
 'P Bankes' 'P Crossley' 'P Dowd' 'P Durkin' 'P Jones' 'P Tierney'
 'P Walton' 'R Beeby' 'R East' 'R Jones' 'R Madley' 'R Martin' 'R Styles'
 'Rob Harris' 'Roy Burton' 'S Attwell' 'S Barrott' 'S Dunn' 'S Hooper'
 'S Scott' 'S Tanner' 'St Bennett' 'Steve Lodge' 'T Bramall'
 'T Harrington' 'T Robinson' 'U Rennie' 'Yates, N' 'l Mason']

In [23]:
### Converts formatted referee column to pandas series

index = np.asarray(range(0,5700))
index_2 = np.asarray(range(5701,len(y)+1))
full_index = np.concatenate((index, index_2), axis=None)

y_form = pd.Series(data=y_copy,index=full_index,name='Referee')

y_form

0        Rob Harris
1          G Barber
2           N Barry
3          A D'Urso
4       D Gallagher
           ...
8836      S Attwell
8837       J Brooks
8838    M Salisbury
8839    C Salisbury
8840      P Tierney
Name: Referee, Length: 8840, dtype: object

In [24]:
### Replaces referee column with formatted version

Clean_Data.loc[:,'Referee'] = y_form

print(Clean_Data.loc[:,'Referee'])
print()
print(Clean_Data)

0        Rob Harris
1          G Barber
2           N Barry
3          A D'Urso
4       D Gallagher
           ...
8836      S Attwell
8837       J Brooks
8838    M Salisbury
8839    C Salisbury
8840      P Tierney
Name: Referee, Length: 8840, dtype: object

            Date     HomeTeam       AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
0       19/08/00     Charlton       Man City   4.0   0.0   H   2.0   0.0   H
1       19/08/00      Chelsea       West Ham   4.0   2.0   H   1.0   0.0   H
2       19/08/00     Coventry  Middlesbrough   1.0   3.0   A   1.0   1.0   D
3       19/08/00        Derby    Southampton   2.0   2.0   D   1.0   2.0   A
4       19/08/00        Leeds        Everton   2.0   0.0   H   2.0   0.0   H
...          ...          ...            ...   ...   ...  ..   ...   ...  ..
8836  29/10/2023     West Ham        Everton   0.0   1.0   A   0.0   0.0   D
8837  29/10/2023  Aston Villa          Luton   3.0   1.0   H   1.0   0.0   H
8838  29/10/2023     Brighton         Fulham   1.0   1.0   D   1.0   0.0   H
8839  29/10/2023    Liverpool  Nott'm Forest   3.0   0.0   H   2.0   0.0   H
8840  29/10/2023   Man United       Man City   0.0   3.0   A   0.0   1.0   A

          Referee  ...   HST   AST   HC    AC    HF    AF   HY   AY   HR   AR
0      Rob Harris  ...  14.0   4.0  6.0   6.0  13.0  12.0  1.0  2.0  0.0  0.0
1        G Barber  ...  10.0   5.0  7.0   7.0  19.0  14.0  1.0  2.0  0.0  0.0
2         N Barry  ...   3.0   9.0  8.0   4.0  15.0  21.0  5.0  3.0  1.0  0.0
3        A D'Urso  ...   4.0   6.0  5.0   8.0  11.0  13.0  1.0  1.0  0.0  0.0
4     D Gallagher  ...   8.0   6.0  6.0   4.0  21.0  20.0  1.0  3.0  0.0  0.0
...           ...  ...   ...   ...  ...   ...   ...   ...  ...  ...  ...  ...
8836    S Attwell  ...   2.0   4.0  4.0   3.0   7.0  11.0  4.0  1.0  0.0  0.0
8837     J Brooks  ...   6.0   1.0  6.0   4.0  11.0  10.0  3.0  2.0  0.0  0.0
8838  M Salisbury  ...   7.0   5.0  7.0   3.0  12.0   8.0  0.0  3.0  0.0  0.0
8839  C Salisbury  ...   8.0   1.0  8.0   3.0   9.0  13.0  2.0  3.0  0.0  0.0
8840    P Tierney  ...   3.0  10.0  7.0  12.0   9.0   4.0  4.0  1.0  0.0  0.0

[8840 rows x 22 columns]